@import '../style/variables.less';

.@{table-prefix}-filter-container {
  display: flex;
  align-items: center;
  width: 18px;
  // margin-left: 5px;

  .@{table-prefix}-filter-icon {
    color: @icon-color;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: rgba(0, 0, 0, 0.55);
    }
  }

  .@{table-prefix}-filter-icon-active {
    color: @icon-active-color;
  }
}

.@{table-prefix}-filter-popper {
  position: absolute;
  z-index: 1000;
  margin-top: 9px;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  transform: translateX(-50%);
  animation: fade 0.3s ease;
}

//.@{table-prefix}-filter-popper-show {
//  display: block;
//  margin-top: 9px;
//  transform: translateX(-50%);
//  animation: fade 0.3s ease;
//}
//
//.@{table-prefix}-filter-popper-hidden {
//  display: none;
//}

.@{table-prefix}-filter-item {
  padding: 7px 16px;
  font-weight: normal;
  cursor: pointer;

  &:hover {
    background: #f3f3f3;
  }
}

.@{table-prefix}-filter-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;

  .@{table-prefix}-filter-empty-icon {
    font-size: 28px;
  }

  span {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #c5c8ce;
  }
}

.@{table-prefix}-filter-search {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.@{table-prefix}-search-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  &:hover {
    border: 1px solid #197afa;
  }
}

.@{table-prefix}-search-wrap-focus {
  border: 1px solid #197afa;
}

.@{table-prefix}-filter-input-prefix {
  margin-right: 4px;
}

.@{table-prefix}-filter-search-input {
  display: inline-block;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  border: none;
  outline: none;
}

.@{table-prefix}-filter-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  overflow: hidden;
  border-top: 1px solid #ddd;

  .@{table-prefix}-filter-btn {
    padding: 0 7px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
    line-height: 24px;
    cursor: pointer;
  }

  .@{table-prefix}-filter-btn-disabled {
    color: #c5c8ce;
    cursor: not-allowed;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
