.filterContainer {
  display: flex;
  align-items: center;
  width: 18px;
  margin-left: 5px;

  .filterIcon {
    width: 100%;
    height: 22px;
    cursor: pointer;
  }
}

.popper {
  z-index: 1000;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, visibility;
}

.popperShow {
  visibility: visible;
  opacity: 1;
}

.popperHidden {
  visibility: hidden;
  opacity: 0;
}

.filterList {
  // padding: 8px 0 0;
}

.filterItem {
  padding: 7px 16px;
  font-weight: normal;
  cursor: pointer;

  &:hover {
    background: #f3f3f3;
  }
}

.emptySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;

  img {
    width: 34px;
  }

  span {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #c5c8ce;
  }
}

.filterSearch {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.inputWrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 11px;
  color: #000000d9;
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  &:hover {
    border: 1px solid #197afa;
  }

  &.focused {
    border: 1px solid #197afa;
  }
}

.inputPrefix {
  margin-right: 4px;
  img {
    width: 14px;
  }
}

.searchInput {
  display: inline-block;
  box-sizing: border-box;
  color: #000000d9;
  border: none;
  outline: none;
}

.filterFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  overflow: hidden;
  border-top: 1px solid #ddd;

  .filterBtn {
    padding: 0 7px;
    color: #000000d9;
    font-weight: normal;
    line-height: 24px;
    cursor: pointer;
  }

  .disabled {
    color: #c5c8ce;
    cursor: not-allowed;
  }
}
