@import '../style/variables.less';

.sorter-container {
  position: relative;
  width: 11px;
  margin-right: 5px;
  line-height: 0;

  .sort-icon {
    color: @icon-color;
    font-size: 11px;
    cursor: pointer;
  }

  .sort-active-icon {
    color: @icon-active-color;
  }
}
