@import './variables.less';

*,
:after,
:before {
  box-sizing: border-box;
}

.@{table-prefix}-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 14px;
  line-height: 1.5;
  border-bottom: 1px solid @table-border-color;

  //&:before {
  //  position: absolute;
  //  content: '';
  //  display: block;
  //  width: 100%;
  //  height: 1px;
  //  left: 0;
  //  bottom: 0;
  //  z-index: 2;
  //  //background-color: @table-border-color;
  //  background-color: red;
  //}

  table {
    min-width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
  }

  // head
  .@{table-prefix}-thead {
    position: relative;
    // flex: 0 1 auto; 不放大会缩小
    // flex: 1 1 auto; 放大且缩小
    // flex: 0 0 auto; 不放大也不缩小
    // flex-basis: auto  项目原本大小
    flex: 0 0 auto;
    overflow: hidden;
    background-color: @table-head-bg;
  }

  thead > tr > th {
    position: relative;
    padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    word-break: break-all;
    background-color: @table-head-bg;
    border-bottom: 1px solid @table-border-color;

    .@{table-prefix}-cell-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .@{table-prefix}-column-title {
        margin-right: 5px;
        &.@{table-prefix}-column-title-ellipsis {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;
        }
      }

      .@{table-prefix}-sorter-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &.@{table-prefix}-cell-align-center {
      text-align: center;
      .@{table-prefix}-cell-header {
        justify-content: center;
      }
    }

    &.@{table-prefix}-cell-align-right {
      text-align: right;
      .@{table-prefix}-cell-header {
        justify-content: flex-end;
      }
    }

    &[colspan]:not([colspan='1']) {
      text-align: center;
      .@{table-prefix}-cell-header {
        justify-content: center;
      }
    }
  }

  // tbody
  .@{table-prefix}-tbody-container {
    position: relative;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .@{table-prefix}-tbody {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  tbody tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }

    &.@{table-prefix}-row-placeholder {
      color: rgba(0, 0, 0, 0.25);
      text-align: center;
      &:hover {
        td {
          background-color: #fff;
        }
      }
    }

    &:hover {
      td {
        background-color: @table-bg-hover;
      }
    }

    &.@{table-prefix}-row-even {
      td {
        background-color: @table-even-td-bg;
      }

      &:hover {
        td {
          background-color: @table-bg-hover;
        }
      }
    }

    &.@{table-prefix}-row-odd {
      td {
        background-color: @table-odd-td-bg;
      }

      &:hover {
        td {
          background-color: @table-bg-hover;
        }
      }
    }

    &.@{table-prefix}-row-expand {
      td {
        background-color: @table-expand-td-bg;
      }
    }

    &.@{table-prefix}-row-selected {
      &:hover {
        td {
          background-color: @table-selected-row-hover-bg;
        }
      }
      td {
        background-color: @table-selected-row-bg;
      }
    }

    .@{table-prefix}-empty-placeholder-content {
      margin-right: -@table-cell-padding-horizontal;
      margin-left: -@table-cell-padding-horizontal;
    }
  }

  tbody td {
    position: relative;
    padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
    word-break: break-all;
    background-color: #fff;
    // overflow-wrap: break-word;
    border-bottom: 1px solid @table-border-color;

    &.@{table-prefix}-cell-align-left {
      text-align: left;
    }

    &.@{table-prefix}-cell-align-center {
      text-align: center;
    }

    &.@{table-prefix}-cell-align-right {
      text-align: right;
    }
  }

  tbody .@{table-prefix}-expand-icon {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    vertical-align: sub;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;

    &:before,
    &:after {
      position: absolute;
      display: block;
      background-color: #333;
      transition: transform 0.3s ease-out;
      content: '';
    }

    &:before {
      top: 7px;
      right: 3px;
      left: 3px;
      height: 1px;
    }

    &:after {
      top: 3px;
      bottom: 3px;
      left: 7px;
      width: 1px;
    }

    &:hover {
      border-color: @expand-icon-border-active-color;

      &:before,
      &:after {
        background-color: @expand-icon-background-active-color;
      }
    }

    &.@{table-prefix}-expand-icon-divider {
      &:after {
        transform: rotate(90deg);
      }
    }
  }

  tbody .@{table-prefix}-icon-tree {
    margin-right: 8px;
  }

  thead > tr > th,
  tbody > tr > td,
  tfoot > tr > td {
    &.@{table-prefix}-selection-expand-column {
      text-align: center;
    }

    &.@{table-prefix}-cell-fixed-left,
    &.@{table-prefix}-cell-fixed-right {
      position: relative;
      z-index: 100;
    }

    &.@{table-prefix}-cell-fixed-last-left {
      border-right: 0;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.12), transparent);
        content: '';
      }
    }

    &.@{table-prefix}-cell-fixed-first-right {
      // border-right: 0;
      &:after {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 5px;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.12), transparent);
        content: '';
      }
    }

    &.@{table-prefix}-cell-ellipsis,
    .@{table-prefix}-cell-content-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: keep-all;
    }

    .@{table-prefix}-cell-content-ellipsis {
      flex: 1;
    }

    .@{table-prefix}-cell-tree-container {
      display: flex;
      align-items: center;
    }

    .@{table-prefix}-cell-tooltip-content {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.@{table-prefix}-summary {
    tbody > tr:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  // tfoot
  .@{table-prefix}-tfoot {
    position: relative;
    flex: 0 0 auto;
    border-top: 1px solid @table-border-color;

    td {
      position: relative;
      padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
      word-break: break-all;
      background-color: #f8f8f9;
      border-bottom: 1px solid @table-border-color;
    }
  }
}

.@{table-prefix}-small {
  thead th,
  tbody td,
  tfoot td {
    padding: @table-cell-small-padding-vertical @table-cell-small-padding-horizontal;
  }
}

.@{table-prefix}-large {
  thead th,
  tbody td,
  tfoot td {
    padding: @table-cell-large-padding-vertical @table-cell-large-padding-horizontal;
  }
}

.@{table-prefix}-empty {
  .@{table-prefix}-tbody {
    table {
      min-height: 100%;
    }
  }
}

// bordered
.@{table-prefix}-bordered {
  border: 1px solid @table-border-color;
  // border-bottom: 0;

  thead > tr > th,
  tbody > tr > td,
  tfoot > tr > td {
    border-right: 1px solid @table-border-color;

    &.@{table-prefix}-cell-ignore-right-border {
      border-right: 0;
    }
  }

  .@{table-prefix}-resize-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 1px;
    border-right: 1px dashed #e8eaec;
  }

  thead > tr > th {
    .@{table-prefix}-cell-header-resizable {
      position: absolute;
      right: -5px;
      bottom: 0;
      z-index: 1;
      width: 10px;
      height: 100%;
      cursor: col-resize;
    }
  }

  .@{table-prefix}-tfoot {
    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
  }
}

// loading
.@{table-prefix}-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: hsla(0, 0%, 100%, 0.5);
  // pointer-events: none;
}

// pagination
.@{table-prefix}-pagination {
  margin-top: 16px;
}
