@table-head-bg: #eee;

@table-cell-padding-vertical: 12px;
@table-cell-padding-horizontal: 8px;

@table-cell-small-padding-vertical: 8px;
@table-cell-small-padding-horizontal: 8px;

@table-cell-large-padding-vertical: 16px;
@table-cell-large-padding-horizontal: 16px;

@table-border-color: #ddd;

@table-selected-row-bg: #e6f7ff;
@table-selected-row-hover-bg: #dcf4ff;
@table-even-td-bg: #f4f5f8;
@table-odd-td-bg: #fff;
//@table-bg-hover: #e6f7ff;
@table-bg-hover: #fafafa;

@expand-icon-border-active-color: #197afa;
@expand-icon-background-active-color: #197afa;

@font-base-size: 14px;
@font-small-size: 12px;

@icon-color: #bfbfbf;
@icon-active-color: #197afa;

@scrollbar-track-bg: #fafafa;
